<html>
<head>
<meta content-type="text/html" charset="UTF-8">
<title>Bootstrap for Verification</title>
<link rel="stylesheet" type="text/css" href="../css/sample.css">
<script src="../js/common.js"></script>
</head>

<body>
<form id="form" method="POST">
<header>Bootstrap for Verification</header>
<div id="container">

<table class="sample2">
<tr><td><button type="button" class="sample" onclick="page_load('create_scenario.py','POST','form')">Create Scenario</button></td></tr>
<tr><td><button type="button" class="sample" onclick="page_load('set_credentials.py','GET',null)">Credentials</button></td></tr>
</table>


<table class="sample1">
  <tr>
    <th>Scenario</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  ${scenario}
</table>

</div>
<footer>Copyright (C) 2013 Okinawa Open Laboratory All Rights Reserved.</footer>
</form>
</body>
</html>

